html body {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

#document-wrapper {
    width: 50%;
    float: left;
    background-color: antiquewhite;
    min-height: 100vh;
}

#document-view {
    background-color: #fff;
    height: 85vh;
    margin: 0 4em;
}

#side-panel-wrapper {
    background-color: darksalmon;
    margin-left: 52%;
    min-height: 100vh;
}

