html body {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding: 1em 5em;
}

/*////////////Left panel////////////*/

#document-wrapper {
    width: 50%;
    float: left;
    background-color: antiquewhite;
    min-height: 100vh;
}

#document-view {
    background-color: #fff;
    height: 85vh;
    margin: 0 4em;
}

/*////////////Right panel////////////*/

#side-panel-wrapper {
    background-color: darksalmon;
    margin-left: 52%;
    min-height: 100vh;
    padding: 0 4em;
}

#side-panel-wrapper p {
    margin: 0;
}

#explanation {
    height: 20vh;
    background-color: #fff;
}

#sign-list {
    height: 50vh;
    background-color: #fff;
    margin: 2em 0;
}

#sign-form {
    height: 10vh;
    background-color: #fff;
}