/*////////////Global style////////////*/

html,
body {
    box-sizing: border-box;
}

body {
    background-color: #bacabe;
}

#list-wrapper {
    display: flex;
    margin: 0 auto
    max-width: 768px;
    height: 90%;
}

#list-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}
