/*////////////Global style////////////*/

html,
body {
    box-sizing: border-box;
}

body {
    background-color: #bacabe;
}

#list-wrapper {
    display: flex;
    margin: 0 auto
    max-width: 768px;
    height: 90%;
}
