/*////////////Global style////////////*/

html,
body {
    box-sizing: border-box;
}

body {
    background-color: #bacabe;
}

#upload-form-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 768px;
}
